[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "raphael"]
	path = raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "js-sequence-diagrams"]
	path = js-sequence-diagrams
	url = https://github.com/bramp/js-sequence-diagrams.git
